/**
 * semestres
 */
#semestres {
	padding-top: 25px;
	background-color: #FFFFFF;
}
#semestres .semestre {
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
/**
 * semestre-title
 */
#semestres .semestre .semestre-title {
	width: 100%;
	display: block;
	background-color: #0096D9;
	color: #FFFFFF;
	padding: 0 0 0 1rem;
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
#semestres .semestre.block .semestre-title {
	background-color: #6F7072;
}
#semestres .semestre.active .semestre-title {
	width: calc(33.3333333333% - 3px);
}
#semestres .semestre .semestre-title .material-icons {
	float: right;
    padding: 3px;
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
#semestres .semestre.block .semestre-title .material-icons {
	background-color: #9B9C9E !important;
}
/**
 * card
 */
#semestres .semestre .asignatura {
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
#semestres .semestre .asignatura a .card {
	padding: 0px;
	background-color: #0A71B3;
	height: 150px;
	padding-right: 10px;
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
#semestres .semestre .asignatura.block a .card {
	background-color: #6F7072;
	background-position: center center;
}
/**
 * card-title
 */
#semestres .semestre .asignatura a .card .card-title {
	font-size: 1rem;
	color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: .5rem;
}
#semestres .semestre .asignatura a .card .card-title h6 {
	
}
/**
 * card-image
 */
#semestres .semestre .asignatura a .card .card-image {
	height: 150px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

#semestres .semestre.active .asignatura a .card .card-image {
	display: block;
}
/**
 * badge
 */
#semestres .semestre .asignatura a .card .card-image .badge {
	min-width: 2rem;
	width: 2rem;
	line-height: 2rem;
	right: inherit;
	left: -2rem;
	background-color: #0096D9;
	color: #FFFFFF;
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
#semestres .semestre.block .asignatura a .card .card-image .badge, 
#semestres .semestre .asignatura.block a .card .card-image .badge {
	background-color: #9B9C9E;
}

/**
 * PSEUDO CLASES
 */
#semestres .semestre:not(.active) .asignatura a .card {
	padding-right: 0;
}
#semestres .semestre:not(.block):not(.active):hover .semestre-title {
	background-color: #E25B00;
}
#semestres .semestre:not(.block):not(.active):hover .semestre-title .material-icons {
	background-color: #BD0926 !important;
}
#semestres .semestre:not(.block):not(.active):hover a .card, 
#semestres .semestre .asignatura:not(.block) a:hover .card {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	background-color: #E25B00;
}	
#semestres .semestre:not(.active) .asignatura a .card .card-title {
	width: 100%;
}
#semestres .semestre:not(.active) .asignatura a .card .card-image .badge {
	left: inherit;
	right: 0;
}
#semestres .semestre:not(.block) .asignatura:not(.block) a:hover .card .card-image .badge, 
#semestres .semestre:not(.block):not(.active):hover a .card .card-image .badge {
	background-color: #BD0926;
}




/* Material Design Adaptive Breakpoints */
/*
Below you'll find CSS media queries based on the breakpoint guidance
published by the Material Design team. You can choose to use, customise
or remove these breakpoints based on your needs.
http://www.google.com/design/spec/layout/adaptive-ui.html#adaptive-ui-breakpoints
*/

	/* mobile-small */
	@media all and (min-width: 0) and (max-width: 599px) and (orientation: portrait) {
		#semestres .semestre.active .semestre-title {
			width: 100%;
		}
		#semestres .semestre .asignatura a .card .card-title h6 {
			/*font-size: .9rem !important;*/
		}
		#semestres .semestre.block .asignatura a .card .card-image {
			-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    		filter: grayscale(100%);
		}
		.semestre:not(.active) {
			height: 60px;
			overflow-y: hidden;
		}
		.semestre:not(.active) .asignatura {
			height: 0;
			visibility: hidden;
			display: block;
		}
		#semestres .semestre .semestre-title {
			line-height: 50px;
		}
		#semestres .semestre .semestre-title .material-icons {
			line-height: 44px;
		}
	}
	@media all and (min-width: 600px) {
		#semestres .semestre:not(.active) .asignatura a .card .card-image {
			width: 100%;
			background-image: none !important;
			margin-left: 0;
		}
	}